.products {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.products__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 6.5rem 1rem;
    margin: 3rem 2.6rem 0 2.6rem;
}

.products__header__tittle {
    color: #464646;
    font-size: 2rem;
}

.products__header__more {
    color: #2A7AE4;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}
.products__header__more img {
    padding-left: rem;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 6rem;
    gap: 1rem;
}

.products__list__card {
    margin: 1rem;
    padding-bottom:0.5rem ;
    border-bottom: 2px solid #C8C8C8;
    transition: 150ms;
}

.products__list__card:hover {
    border-bottom: 2px solid #2A7AE4;;
}

@media (max-width: 790px) {
    .products__header {
        align-items: flex-start;
        justify-content: space-between;
        font-size: 80%;
        gap: 80%;
        margin: 1rem 0 0;
        padding-left: 3rem;
    }
    .products__list {
        padding-left: 5rem;
    }
}

@media (max-width: 290px) {
    .products__list {
        padding-left: 2.5rem;
    }
}